* {
    box-sizing: border-box; 
}
body {
    margin: 0;
}
#main {
    display: flex;
    height: 670px;
}
#main > article {
    flex: 1;
    border: 1px solid black;
}
#main > nav, #main > aside {
    flex: 0 0 20vw;
    border: 1px solid black;
}
#main > nav {
    order: -1;
}
header, footer, article, nav, aside {
    padding: 2em;
}
header {
    height: 5vh;
    border: 1px solid black;
    text-align: center;
}
footer{
    text-align: center;
}
footer input {
    width: 500px;
    padding: 10px;
}
footer button {
    padding: 10px;
}
.container {
    border: 1px solid black;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}
.mainGame{
    text-align: left;
    height: 50px;
    overflow: auto;
}
.mainGame li{
    list-style-type: none;
    border: 1px solid black;
    padding: 5px;
}
#playList{
    padding: 30px;
}